@font-face {
  font-family: "Bauhaus93";
  src: url("../src/core/font/BAUHS93.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("../src/core/font/Pretendard-Regular.ttf") format("truetype");
}
